#dropZone {
    border: 3px dashed #0088cc;
    padding: 70px;
    width: 100%;
    margin-top: 20px;
}

#files {
    border: 1px dotted #0088cc;
    padding: 20px;
    width: 200px;
    display: none;
}
.file_drag_over{  
    color:#000;  
    border-color:#000;  
}  
#error {
    color: red;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 0px;
}
table thead{
    background-color: #0088cc;
    color: #ffff;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}